{% extends 'base.html.twig' %}

{% block title %}Zonas{% endblock %}

{% block body %}
    <h1>Zonas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zona.id }}</td>
            </tr>
            <tr>
                <th>Población</th>
                <td>{{ zona.poblacion }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ zona.provincia }}</td>
            </tr>
            <tr>
                <th>Código Postal</th>
                <td>{{ zona.codigopostal }}</td>
            </tr>
            <tr>
                <th>País</th>
                <td>{{ zona.pais }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary my-2" href="{{ path('app_zonas_index') }}">Volver</a>

    <a class="btn btn-primary" href="{{ path('app_zonas_edit', {'id': zona.id}) }}">Editar</a>

    {{ include('zonas/_delete_form.html.twig') }}
{% endblock %}
