{% extends 'base.html.twig' %}

{% block title %}Tipos{% endblock %}

{% block body %}
    <h1>Tipos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo in tipos %}
            <tr>
                <td>{{ tipo.id }}</td>
                <td>{{ tipo.Nombre }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_tipo_show', {'id': tipo.id}) }}">Mostrar</a>
                    <a class="btn btn-warning" href="{{ path('app_tipo_edit', {'id': tipo.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay tipos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_tipo_new') }}">Crear Tipo</a>
{% endblock %}
