{% extends 'base.html.twig' %}

{% block title %}Doctor{% endblock %}

{% block body %}
    <h1>Doctor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ doctor.id }}</td>
            </tr>
            <tr>
                <th>Especialidad</th>
                <td>{{ doctor.Especialidad }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ doctor.Nombre }}</td>
            </tr>
            <tr>
                <th>Historial</th>
                <td>{{ doctor.Historial.CodigoHistorial }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary my-2" href="{{ path('app_doctor_index') }}">Volver</a>

    <a class="btn btn-primary" href="{{ path('app_doctor_edit', {'id': doctor.id}) }}">Editar</a>

    {{ include('doctor/_delete_form.html.twig') }}
{% endblock %}
